.container {
    margin-left: 1em;
    
    h2 {
        margin-bottom: 1em;
    }
}

.formContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em 3em;
    margin: 0;
    height: 65%;

    label {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .options {
        display: flex;
        flex-direction: row;
    }

    input[type="radio"] {
        display: none;

        + label {
            cursor: pointer;
            padding: 1em;
            border: 0.1em solid black;
        }
    }
    
    input[type="radio"]:checked + label {
        background-color: #ED8E53;
        color: white;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }

    input {
        margin-top: 2em;
        width: 80%;
    }
}

.borderLeft {
    border-radius: 0.5em 0em 0em 0.5em;
}

.borderRight {
    border-radius: 0em 0.5em 0.5em 0em;
}