.container {
    margin-left: 1em;
    
    h2 {
        margin-bottom: 1em;
    }
}

.formContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    margin: 0;
    height: 80%;
}