header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}